body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://www.hdwallpapers.in/download/anime_nature_horizon_sky_silhouette_background_hd_anime-1920x1080.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent white background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f4f4f4;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white; /* Add bottom border */
    background-color: transparent; /* Make background transparent */
    color: white; /* Set text color to white */
    padding: 10px; /* Add padding */
    margin: 10px 0; /* Add margin */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in width */
    outline: none; /* Remove outline */
}

/* Add hover effect */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
    border-bottom: 1px solid lightgray; /* Change bottom border color on hover */
}

button {
    padding: 10px 20px;
    background-color: #280775;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #051a77;
}
